<%- include('partials/header') %> 
<div class="container center">
    <h1 class="warning py-4">404</h1>
    <h1 class="py-3">Hey! ¿Te perdiste?</h1>
    <h3 class="py-3">Te hecho una mano, dale click <a href="/">aquí</a> o al botón para regresar. :)</h3>
    <a class="btn btn-info" href="/" role="button">Take me back!</a>
</div>
<%- include('partials/footer') %> 