<%- include('partials/header') %> 

<div class="container">
    <div class="title center pt-4 boldtext">
        <h1>SOBRE MÍ</h1>
    </div>
    <hr>
    <div class="center">
        <p class="aboutPar">Hey que tal! Soy <a href="http://instagram.com/iiiGYGYiii_">iiiGYGYiii</a>
        un programador apasionado.</p>
        <p class="aboutPar">Me gustan los videojuegos, hornear mi propio pan y utilizar mis propias apps. 😀</p>
        <p class="aboutPar">
            Si te gustó mi aplicación, puedes contactarme haciendo click <a href="mailto:realgygy@gmail.com">aquí</a>.
        </p>
        <p class="aboutPar">
            O si bien lo prefieres, puedes encontrarme en las siguientes redes sociales:
        </p>
        <p class="aboutPar">
            <a href="http://instagram.com/iiiGYGYiii_"><i class="fab fa-instagram"></i></a>
            <a class="hide" href="https://github.com/iiiGYGYiii"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/iiiGYGYiii"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/iiiGYGYiii/"><i class="fab fa-facebook"></i></a>
        </p>
    </div>
</div>

<%- include('partials/footer') %> 