/*
    Color palete: #ff9f1c
    #ffbf69
    #ffffff
    #cbf3f0
    #2ec4b6
*/
a{
    text-decoration: none;
    font-weight: bold;
    color: #003f88;
}

h1,h2,h3{
    font-family: 'Josefin Sans', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}



footer{
    background-color: #2ec4b6;
    color: #ffffff;

}

nav{
    background-color: #ff9f1c;
}

main > .container {
    padding: 60px 15px 0;
}



a i{
    font-size: 3rem;
    margin: auto 2rem; 
    color: #ffbf69;
}

a i:hover{
    color: #EB8900;
}

.aboutPar{
    margin: 3rem auto;
}

.boldtext{
    font-weight: bold;
}

.brand-title{
    font-family: 'Lilita One', cursive;
    font-size: 2.375rem;
    padding-left: 2rem;
}

.bttn {
    background: #EB8900;
    background-image: -webkit-linear-gradient(top, #EB8900, #ffbf69);
    background-image: -moz-linear-gradient(top, #EB8900, #ffbf69);
    background-image: -ms-linear-gradient(top, #EB8900, #ffbf69);
    background-image: -o-linear-gradient(top, #EB8900, #ffbf69);
    background-image: linear-gradient(to bottom, #EB8900, #ffbf69);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 4px 5px 3px #666666;
    -moz-box-shadow: 4px 5px 3px #666666;
    box-shadow: 4px 5px 3px #666666;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1.58rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.bttn:hover {
    background: #EB8900;
    background-image: -webkit-linear-gradient(top, #EB8900, #ff9f1c);
    background-image: -moz-linear-gradient(top, #EB8900, #ff9f1c);
    background-image: -ms-linear-gradient(top, #EB8900, #ff9f1c);
    background-image: -o-linear-gradient(top, #EB8900, #ff9f1c);
    background-image: linear-gradient(to bottom, #EB8900, #ff9f1c);
    text-decoration: none;
}

.center{
    text-align: center;
}

.container-btn{
    margin: 3rem auto;
}

.hide{
    display: none;
}

.subtles{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.375rem;
    font-weight: bold;
}

.textinput {
    width: 75%;
    min-height: 4.5rem;
    outline: none;
    resize: none;
    border: 1px solid grey;
}